<!DOCTYPE html>
<html lang="en">
    {% extends "Base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Home1.css'%}">
</head>
<body>

    <a href="Automate/" class="btn">Automate</a>
    <a href="Manual/" class="btn1">Manual</a>

</body>
</html>

{% endblock %}